{% import "macros.html" as scope %}
{% extends "layout.html" %}
{% block content %}
  <div class="grid grid-cols-[320px,auto]">
    <section hx-get="/monitors" hx-swap="innerHTML" hx-trigger="load"></section>
    <div>
      <section>
        <h1 class="text-3xl font-semibold">{{ monitor.name }}</h1>
        <p class="text-md">
          <a
            class="text-love hover:underline"
            href="{%- call scope::address(monitor) -%}"
            >{% call scope::hostname(monitor) %}</a
          >
        </p>
      </section>
      <section
        class="grid bg-surface overflow-hidden rounded-full grid-cols-3 h-12 w-full"
      >
        <button class="hover:bg-overlay rounded-full shadow-sm">Pause</button>
        <button class="hover:bg-overlay rounded-full shadow-sm">Edit</button>
        <button class="hover:bg-overlay rounded-full shadow-sm">Delete</button>
      </section>

      <section
        hx-get="/monitor/{{ monitor.id }}/uptime-graph"
        hx-swap="innerHTML"
        hx-trigger="every {{ monitor.interval }}s, load"
      ></section>
    </div>
  </div>
{% endblock %}
