{% extends "layout.html" %}

{% block content %}
  <div class="gap-6 grid grid-cols-[320px,auto]">
    <nav class="flex flex-col gap-3">
      <a href="/monitor/create" class="button self-end">Create new monitor</a>
      <section
        hx-get="/monitors"
        hx-swap="innerHTML"
        hx-trigger="load"
      ></section>
    </nav>
    <div>
      <section>
        <h1 class="text-3xl font-semibold">{{ monitor.name }}</h1>
        <p class="text-md">
          <a class="text-love hover:underline" href="{{ monitor.address() }}">
            {{ monitor.hostname() }}
          </a>
        </p>
      </section>
      <section
        class="grid bg-surface overflow-hidden rounded-full grid-cols-3 h-12 w-full"
      >
        <button
          class="hover:bg-overlay rounded-full shadow-sm"
          hx-post="/monitor/{{ monitor.id }}/pause"
          hx-swap="innerHTML"
        >
          {% if monitor.paused %}
            Resume
          {% else %}
            Pause
          {% endif %}
        </button>
        <button
          class="hover:bg-overlay rounded-full shadow-sm"
          hx-get="/monitor/{{ monitor.id }}/edit"
          hx-swap="innerHTML"
          hx-target="#selected_tab"
        >
          Edit
        </button>
        <button class="hover:bg-overlay rounded-full shadow-sm">Delete</button>
      </section>

      <div id="selected_tab"></div>

      <section
        hx-get="/monitor/{{ monitor.id }}/uptime-graph"
        hx-swap="innerHTML"
        hx-trigger="every {{ monitor.interval }}s, load"
      ></section>
    </div>
  </div>
{% endblock %}
