{%- macro address(monitor) -%}
  {{ monitor.protocol }}://{%- call hostname(monitor) -%}
{%- endmacro -%}

{%- macro hostname(monitor) -%}
  {%- match monitor.port -%}
    {%- when Some with (val) -%}
    {{ monitor.ip }}:{{ val }}
    {%- when None -%}
    {{ monitor.ip }}
  {%- endmatch -%}
{%- endmacro -%}

{% macro monitor_up_status_badge(bad) %}
  {% if bad %}
    <div class="bg-red-400 rounded-full p-1">
      <p class="font-semibold text-md mt-[-7px]">Down</p>
    </div>
  {% else %}
    <div class="bg-green-500 rounded-full p-1">
      <p class="font-semibold text-md mt-[-7px]">Up</p>
    </div>
  {% endif %}
{% endmacro %}
