<a
  href="/monitor/{{ monitor.id }}"
  class="bg-surface flex flex-row gap-2 shadow-md p-3 rounded-md"
>
  <div class="w-full text-left">
    <h2 class="text-xl lg:text-2xl font-semibold">{{ monitor.name }}</h2>
    <span
      class="text-love hover:underline"
      hx-on:click="window.location = '{{ monitor.address() }}'"
    >
      {{ monitor.hostname() }}
    </span>
  </div>
  <div
    hx-get="/monitor/{{ monitor.id }}/status-badge"
    hx-trigger="every {{ monitor.interval }}s"
    hx-swap="innerHTML"
  >
    {% include "components/monitor_status_badge.html" %}
  </div>
</a>
