<section class="@container">
  {% if let Some(data) = uptime_graph %}
    <section class="bg-surface rounded-md shadow-md mt-3">
      <div
        class="h-12 w-full p-3 flex flex-row-reverse gap-1"
        id="uptime_graph"
      >
        {% for ping in data %}
          <div
            class="{% if ping.bad %}bg-love{% else %}bg-pine{% endif %} w-full h-full rounded-md"
            data-timestamp="{{ ping.timestamp }}"
            data-duration="{{ ping.duration_ms }}"
            data-bad="{{ ping.bad }}"
          ></div>
        {% endfor %}
        {% for i in (0 .. 30 - data.len()) %}
          <div class="bg-overlay w-full h-full rounded-md"></div>
        {% endfor %}
      </div>
    </section>

    <div
      class="mt-3 relative w-full aspect-[16/8] bg-surface shadow-md rounded-md overflow-hidden"
    >
      <canvas id="uptime_chart"></canvas>
    </div>

    <section
      class="bg-surface rounded-md shadow-md mt-3 gap-3 text-center grid grid-rows-3 @lg:grid-rows-none @lg:grid-cols-3 p-3"
    >
      <div>
        <h4 class="font-semibold text-xl">Average response</h4>
        <p class="text-md">
          {{ crate::utils::get_average_ping_duration(data) }}ms
        </p>
      </div>
      <div>
        <h4 class="font-semibold text-xl">Last response</h4>
        {% if let Some(val) = data.first() %}
          <p class="text-md">{{ val.duration_ms }}ms</p>
        {% else %}
          <p>Not available</p>
        {% endif %}
      </div>
      <div>
        <h4 class="font-semibold text-xl">Interval</h4>
        <p class="text-md">Every {{ monitor.interval }} seconds</p>
      </div>
    </section>
  {% else %}
    <p>No data</p>
  {% endif %}
</section>

<script>
  (() => {
    const labels = [];
    const data = [];
    const bad = [];

    const uptime_graph = $("#uptime_graph");
    const children = Array.from(uptime_graph.children).reverse();

    for (const ping of children) {
      const attrs = attributes(ping, [
        "data-duration",
        "data-timestamp",
        "data-bad",
      ]);

      if (!attrs.timestamp) labels.push("-");
      else {
        let time = new Date(attrs.timestamp).toLocaleTimeString();
        labels.push(time);
      }

      bad.push(attrs.bad === "true");
      data.push(attrs.duration);
    }

    const canvas = $("#uptime_chart");

    let i = 0;
    new Chart(canvas, {
      type: "line",
      responsive: true,
      aspectRatio: 16 / 9,
      data: {
        labels,
        datasets: [
          {
            label: "Response time (ms)",
            data,
            fill: false,
            borderColor: "#9ccfd8",
            tension: 0.1,
          },
        ],
      },
    });
  })();
</script>
