<section class="">
  {% if let Some(data) = uptime_graph %}
    <section class="bg-surface rounded-md shadow-sm mt-3">
      <div
        class="h-12 w-full p-3 flex flex-row-reverse gap-1"
        id="uptime_graph"
      >
        {% for ping in data %}
          <div
            class="{% if ping.bad %}bg-love{% else %}bg-pine{% endif %} w-full h-full rounded-md"
            data-timestamp="{{ ping.timestamp }}"
            data-duration="{{ ping.duration_ms }}"
            data-bad="{{ ping.bad }}"
          ></div>
        {% endfor %}
        {% for i in (0 .. 30 - data.len()) %}
          <div class="bg-overlay w-full h-full rounded-md"></div>
        {% endfor %}
      </div>
    </section>

    <div
      class="mt-3 relative w-full aspect-[16/8] bg-surface rounded-md overflow-hidden"
    >
      <canvas id="uptime_chart"></canvas>
    </div>

    <section
      class="bg-surface rounded-md shadow-sm mt-3 text-center grid grid-cols-3 p-3"
    >
      <div>
        <h4 class="font-semibold text-2xl">Average response time</h4>
        <p>{{ crate::utils::get_average_ping_duration(data) }}ms</p>
      </div>
      <div>
        <h4 class="font-semibold text-2xl">Last response time</h4>
        {% if let Some(val) = data.last() %}
          <p>{{ val.duration_ms }}ms</p>
        {% else %}
          <p>Not available</p>
        {% endif %}
      </div>
      <div>
        <h4 class="font-semibold text-2xl">Ping interval</h4>
        <p>Checks every {{ monitor.interval }} seconds</p>
      </div>
    </section>
  {% else %}
    <p>No data</p>
  {% endif %}
</section>

<script>
  (() => {
    const $ = (selector) => document.querySelector(selector);
    const attr = (el, name) => el.getAttribute(name);

    const labels = [];
    const data = [];

    const uptime_graph = $("#uptime_graph");
    for (const ping of Array.from(uptime_graph.children).reverse()) {
      const duration = attr(ping, "data-duration");
      const timestamp = attr(ping, "data-timestamp");
      const date = new Date(timestamp);

      if (!timestamp) labels.push("-");
      else labels.push(date.toLocaleTimeString());

      data.push(duration);
    }

    const canvas = $("#uptime_chart");

    new Chart(canvas, {
      type: "line",
      responsive: true,
      aspectRatio: 16 / 9,
      data: {
        labels,
        datasets: [
          {
            label: "Response time (ms)",
            data,
            fill: false,
            borderColor: "#9ccfd8",
            tension: 0.1,
          },
        ],
      },
    });
  })();
</script>
