<section class="">
  {% if let Some(data) = uptime_graph %}
    <section class="bg-surface rounded-md shadow-sm mt-3">
      <div
        class="h-12 w-full p-3 flex flex-row-reverse gap-1"
        id="uptime_graph"
      >
        {% for ping in data %}
          <div
            class="{% if ping.bad %}bg-red-400{% else %}bg-green-500{% endif %} w-full h-full rounded-md"
            data-timestamp="{{ ping.timestamp }}"
            data-duration="{{ ping.duration_ms }}"
            data-bad="{{ ping.bad }}"
          ></div>
        {% endfor %}
        {% for i in (0 .. 30 - data.len()) %}
          <div class="bg-overlay w-full h-full rounded-md"></div>
        {% endfor %}
        <!-- {% if let Some(last_ping) = data.last() %} -->
        <!--   {% if last_ping.bad %} -->
        <!--     <div class="bg-red-400 rounded-full p-1"> -->
        <!--       <p class="font-semibold text-md mt-[-7px]">Down</p> -->
        <!--     </div> -->
        <!--   {% else %} -->
        <!--     <div class="bg-green-500 rounded-full p-1"> -->
        <!--       <p class="font-semibold text-md mt-[-7px]">Up</p> -->
        <!--     </div> -->
        <!--   {% endif %} -->
        <!-- {% endif %} -->
      </div>
    </section>

    <section
      class="bg-surface rounded-md shadow-sm mt-3 text-center grid grid-cols-3 p-3"
    >
      <div>
        <h4 class="font-semibold text-2xl">Average response time</h4>
        <p>{{ crate::utils::get_average_ping_duration(data) }}ms</p>
      </div>
      <div>
        <h4 class="font-semibold text-2xl">Last response time</h4>
        {% if let Some(val) = data.last() %}
          <p>{{ val.duration_ms }}ms</p>
        {% else %}
          <p>Not available</p>
        {% endif %}
      </div>
      <div>
        <h4 class="font-semibold text-2xl">Ping interval</h4>
        <p>Checks every {{ monitor.interval }} seconds</p>
      </div>
    </section>
  {% else %}
    <p>No data</p>
  {% endif %}
</section>

<script></script>
